<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
<style type="text/css">
    h1 {
    text-align: center;
    }
    form { padding: 20px; width: 400px; display: block; background: #FAFAFA; margin: 90 auto;}
</style>
</head>
<h1>Welcome to Part E!</h1>
<body background="http://orig14.deviantart.net/c577/f/2013/267/4/3/persona_4_background_pattern_by_darkarddeidara-d6nqz2h.png">
<form align="center" action="login" method="post">
    <input type="text" placeholder="Enter your name" name="username">
    <input type="password" placeholder="password" name="password"/>
    <button type="submit">Login</button>
</form>
</body>
</html>